.toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button__icon {
  width: 38px;
  height: 38px;
  color: var(--text-main);
}
