.character-card {
  display: flex;
  max-width: 508px;
  width: 100%;
  height: 248px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 7px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.08);
}

.character-card__image {
  width: 240px;
  height: 234px;
  border-radius: 4px;
  margin-right: 13px;
  align-self: center;
  object-fit: cover;
  flex-shrink: 0;
}

.character-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.character-card__details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.character-card__row {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 41px;
  padding: 0;
  margin: 0;
  color: var(--text-main);
}

.character-card.editing .character-card__row--status .selector--small {
  position: relative;
  left: -5px;
  z-index: 1;
}

.character-card__title {
  color: var(--text-main);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.character-card__value {
  margin: 0;
  padding: 0;
  min-height: 21px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 400;
  line-height: 1;
  width: 200px;
  border-bottom: 1px solid transparent;
}

.character-card__field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  gap: 20px;
}

.icon-button-container {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.character-card:hover .icon-button-container,
.character-card.editing .icon-button-container {
  opacity: 1;
  visibility: visible;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button__edit,
.icon-button__check,
.icon-button__close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
}
.character-card__location-input {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid var(--border-black);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
