.layout.content {
  padding: 0 198px 0px;
  flex: 1;
  font-family: 'Roboto', sans-serif;
}
.title-logo-img {
  width: 600px;
  height: 200px;
  margin: 26px auto 0;
  padding: 0;
  display: block;
}

.filter-panel {
  margin: 16px auto 0;
  display: flex;
  gap: 28px;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(508px, 1fr));
  gap: 28px;
  padding: 0;
  margin: 28px auto;
  max-width: 1200px;
}
