.layout {
  width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.content {
  flex: 1;
  padding: 0 198px 40px;
}
