.text-field {
  display: flex;
  gap: 4px;
}

.text-field__input {
  width: 100%;
  padding: 0;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  color: var(--text-main);
  height: 100%;
  line-height: 20px;
  background: transparent;
}

.text-field__input:focus {
  outline: none;
  border-color: #4f46e5;
}

.text-field__input::placeholder {
  color: var(--text-secondary);
}

.text-field.text-field--compact .text-field__input {
  font-size: 20px;
  font-weight: 500;
}

.text-field.text-field--compact-editable .text-field__input {
  width: 100%;
  height: 31px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
}

.text-field.text-field--compact-editable {
  width: 100%;
  height: 31px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border-black);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.text-field.text-field--compact-editable.character-card__location-input
  .text-field__input {
  font-size: 14px;
}

.text-field--default {
  width: 240px;
  height: 55.58px;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  background-color: var(--bg-body);
  box-sizing: border-box;
}

.text-field__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
