.cardBox {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-box__back {
  display: flex;
  width: 108px;
  height: 24px;
  text-decoration: none;
  align-items: center;
  position: absolute;
  margin-top: 102px;
  margin-left: 190px;
  left: 20px;
  top: 20px;
  color: var(--text-main);
}

.card-box__back-text {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;
  color: var(--text-main);
}

.card-character__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #f2f2f7;
}
.card-character__name {
  width: 500px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: var(--text-main);
}

.card-character__title {
  width: 157px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  vertical-align: middle;
  color: #8e8e93;
}

.card-character-information__row {
  width: 413px;
  height: 64px;
  text-align: start;
}

.card-character-information__term {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--text-main);
}

.card-character-information__value {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 16px;
  color: #6e798c;
}
