.not-found {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.not-found-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.not-found__back {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;
}
