.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 100;
}

.logoImage {
  height: 49px;
  width: 46px;
  margin-left: 210px;
}
