.footer {
  width: 100%;
  height: 60px;
  background-color: var(--bg-body);
  border-top: 1px solid var(--border-color);
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-sizing: border-box;
}
