body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f9fafb;
   overflow-x: hidden;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  min-height: 100vh;
}
