.header {
  width: 100%;
  height: 60px;
  background-color: var(--bg-body);
  box-shadow: 0 5px 6px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}

.header__inner {
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo-image {
  width: 46px;
  height: 49px;
  display: block;
  cursor: pointer;
}
